@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

        <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>

    <div>
        <div class="container error-dev">Atenção! A página que você está tentando acessar não existe.
            <a href="~/">Clique para ir a uma página válida</a>
            <img src="/images/bricon.png" alt="Ícone BR Curtidas">
        </div>
    </div>

    <footer>
            <a href="#"><img src="~/images/uparrow_icon.png"></a>
            <div>© 2016 - 2017 BR Curtidas - Todos os direitos reservados</div>
            <div>Whatsapp: (21) 96544-8522 | Skype: andrebrananjos | E-mail: brcurtidas@brcurtidas.com.br</div>
    </footer>

    <script src="~/js/site.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
