@{
    ViewData["Title"] = "Contato";
}

<div class="contato-box">
    <h3 class="contato-box-title">CONTATO</h3><img class="brcurtidas-logo-error" src="/images/bricon.png" alt="Ícone BR Curtidas">
        <h4 class="contato-box-title2">Para entrar em contato com nossa equipe utilize qualquer meio abaixo:</h4>
        <div class="contato-box-list">
            <p>Whatsapp: (21) 96544-8522</p>
            <p>Telefone: (21) 3942-4521</p>
            <p>Skype: andrebrananjos</p>
            <p>Email: brcurtidas@brcurtidas.com.br</p>
        </div>


        <h5 class="contato-box-title2">Para um atendimento expresso recomendamos o LiveChat localizado no canto inferior direito da página.</h5>

</div>