body {
    background: #f9f9f9;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    color: #8b8b8b;
    font-family: Candara;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}



footer {
    background: #415e41;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
}

footer a:first-child{
    display: inline-block;
    margin-bottom: 10px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.banner {
    background: #cc0033;
}
    .banner .row {
    padding-top: 50px;
    padding-bottom: 50px;
    }
    
    .banner h3, .banner h2 {
        color: #ffcb00;
        padding-bottom: 30px;
    }
    .banner p {
        color: white;
        padding-bottom: 20px;
    }

.banner-icons {
    padding-bottom: 30px;
}
    .banner-icons img {
        padding: 30px;
    }

.products-banner {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}
.products-banner .col-sm-4 {
    padding-bottom: 50px;
}

    .products-banner .col-sm-4 h6 {
    color: #8b8b8b;
}

    .products-banner .col-sm-4 h4 {
    padding: 5px 0px 5px 0px;
    color: black;
}

.service {
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-icon {
    display: block;
    margin: 0 auto;
}

.service-title {
    text-align: center;
}



.service-product {
    border-radius: 8px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 20px 10px;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(133,133,133,0.46);
    -moz-box-shadow: 0px 2px 3px 1px rgba(133,133,133,0.46);
    box-shadow: 0px 2px 3px 1px rgba(133,133,133,0.46);
}

.service-product-title {
    text-align: center;
    font-size: 30px;
}

.service-product-button {
    display: block;
    margin: 0 auto;
    width: 135px;
    text-align: center;
    color: #ffffff;
    padding: 5px 30px;
    background: #b30c26;
    border-radius: 30px; 
}

.service-product-price {
    text-align: center;
    font-size: 24px;
}

.information-box {
    text-align: center;
    padding-top: 100px;
}

.tips-text {
    padding-bottom: 20px;
}

    .tips-text h2 {
    color: #3b6b3b;
    }

    .tips-text h4 {
    color: #565656;
    }

.tips-box {
    padding-bottom: 200px;
}

.about-box {
    text-align: left;
    background: #ff8a00;
    padding-top: 80px;
    padding-bottom: 30px;
    color: white;
}
    .about-box h5 {
        color: white;
    }


.about-box-item {
    padding-bottom: 20px;
}

.about-service-box {
    color: white;
    background: #b30c26;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}
    .about-service-box p {
    font-size: 18px;
    font-family: Corbel;
    }
    .about-service-box h3, .about-service-box h5 {
        color: #ffa600;
        padding-bottom: 10px;
        text-align: center;
    }

    .about-service-box img {
        display: block;
        margin: 0 auto;
    }

.payment-method-button.active {
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: #b30c26;
    border-color: #9c0606cc;
}

.payment-method-button {
    color: #424242;
    background-color: #dddddd;
    border-color: #bdbdbd;
}

.btn-primary {
    background: #b30c26;
    border-color: #9c0606cc;
}

.error-dev {
    background: none;
    color: #c02900;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
    

@media(min-width: 768px) {
    .banner-item {
        flex-direction: row;
        margin-bottom: 50px;
    }

    .banner-box {
        padding-top: 35px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .banner-box > .banner-item:nth-child(2) {
        flex-direction: row-reverse;
    }
}