@{
    ViewData["Title"] = "Home Page";
}

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3>COMPRAR CURTIDAS E SEGUIDORES É AQUI</h3>
                <p>NA BR CURTIDAS VOCÊ RECEBE CURTIDAS
                REAIS DE SEGUIDORES ATIVOS PARA AUMENTAR A POPULARIDADE DO SEU INSTAGRAM!</p>
                <div class="banner-icons">
                    <img src="~/images/facebook-icon.png" alt="Ícone do Facebook">
                    <img src="~/images/spotify.png" alt="Ícone do Spotify">
                    <img src="~/images/twitter-icon.png" alt="Ícone do Twitter">
                    <img src="~/images/instagram-icon.png" alt="Ícone do Instagram">
                </div>
                <h3>TENHA MAIS CURTIDAS E SEGUIDORES NAS SUAS REDES SOCIAIS</h3>
            </div>
            <div class="col-sm-5">
                <img class="img-fluid" src="~/images/banner-poster.png" alt="Frame de Instagram com foto">
            </div>
        </div>
    </div>
</section>

<section class="products-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h6>Seguidores Instagram</h6>
                    <h4>BRASILEIROS</h4>
                    <a href="~/comprar/seguidores-brasileiros"><img class="img-fluid" src="~/images/instagram-banner-button.svg" alt="Botão em formato de imagem com mulher sendo positiva"></a>
                </div>
                <div class="col-sm-4">
                    <h6>Curtidas Instagram</h6>
                    <h4>BRASILEIRAS</h4>
                    <a href="~/comprar/curtidas-automaticas-brasileiras"><img class="img-fluid" src="~/images/instagram-banner-curtidas-button.svg" alt="Botão em formato de imagem com mulher sendo positiva"></a>
                </div>
                <div class="col-sm-4">
                    <h6>Curtidas Facebook</h6>
                    <h4>BRASILEIRAS</h4>
                    <a href="~/comprar/curtidas-brasileiras-facebook"><img class="img-fluid" src="~/images/facebook-banner-button.svg" alt="Botão em formato de imagem com homem indicando logotipo do facebook"></a>
                </div>
            </div>
        </div>
</section>

<section class="about-service-box">
    <div class="container">
        <h3>SUPORTE E MELHORES SERVIÇOS PARA REDES SOCIAIS</h3>
                <p>
                    Porque comprar na BR Curtidas? Temos os melhores servidores do mercado tanto para curtidas como
                    para seguidores. A segurança é total. Você nunca terá problemas com perfis arábes ou com
                    engajamento de outro país.
                </p>
                <p>
                    Poderemos ajudar você a se tornar referência no Instagram, aumentando o alcance dos posts do seu perfil
                    ou marca.
                </p>
                <p>
                    Você ganhará seguidores reais e ativos para seu instagram aumentando sua popularidade. É compravado que
                    pessoas que possuem mais seguidores tendem a atrair novos seguidores. A nossa parte é dar o melhor suporte possível
                    para você.
                </p>
                <div class="about-service-box-facts">
                    <div class="row">
                        <div class="col-md-4">
                           <h5>Suporte Absoluto</h5>
                           <img src="~/images/suport-icon.png" alt="Icone de suporte">
                        </div>
                        <div class="col-md-4">
                           <h5>Melhores servidores</h5>
                           <img src="~/images/servidor-icon.png" alt="Icone de servidor">
                        </div>
                        <div class="col-md-4">
                            <h5>Centenas de clientes</h5>
                            <img src="~/images/aprove-icon.png" alt="Icone de aprovação">
                        </div>
                    </div>
                </div>
    </div>
</section>

<section class="information-box">
    <div class="container">
       <div class="tips-text">
            <h2>Como adquirir os serviços?</h2>
            <h4>Queremos oferecer uma experiência de compra simples, fácil e segura. </h4>
       </div>
       <div class="tips-box">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/images/checkstep.png" alt="Icone de checar">
                    <h4>1. Escolha o serviço</h4>
                    Selecione no menu ou no corpo do site o tipo de serviço e escolha o pacote
                    /plano. A navegação é intuitiva e fácil.
                </div>
                <div class="col-md-4">
                    <img src="~/images/formstep.png" alt="Icone de formulário">
                    <h4>2. Preencha os dados</h4>
                    Preencha os dados necessários para a transação, não se esqueça de colocar corretamente
                    o perfil ou link de onde o serviço será entregue.
                </div>
                <div class="col-md-4">
                    <img src="~/images/handshakestep.png" alt="Icone de aperto de mãos">
                    <h4>3. Clique na forma de pagamento</h4>
                    Realize o pagamento pelo PagSeguro ou depósito bancário. Para outras formas de pagamento entre em contato
                    com nossa equipe. Temos o prazo de entrega de 48h a partir da confirmação do pagamento.
                </div>
            </div>
        </div>
    </div>
    <div class="about-box">
        <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 about-box-item">
                        <h5>QUEM SOMOS</h5>
                        A nossa empresa é especializada em marketing de perfis em redes sociais.
                        O objetivo de nossos serviços é aumentar o alcance de influência de um
                        determinado perfil com credibilidade através de uma melhoria na imagem,
                        injetando curtidas, seguidores, visualizações, entre outros. Oferecemos uma
                        experiência de compra satisfatória para nossos clientes, com uma entrega rápida
                        e de qualidade, além de uma pós-venda e suporte satisfatório.
                    </div>
                    <div class="col-md-6 col-lg-3 about-box-item">
                        <h5>SEGURANÇA</h5>
                        Qualquer compra realizada através de nosso site está devidamente protegida.
                        Além, de oferecermos opção de depósito, trabalhamos com os métodos de pagamentos
                        terceirizados mais seguros e populares na internet. Também vale ressaltar que nossa
                        empresa presta apenas serviços legalizados, e trabalhamos dentro das regras das mídias
                        sociais informadas em nosso site.
                    </div>
                    <div class="col-md-6 col-lg-3 about-box-item">
                        <h5>GARANTIA</h5>
                        Todos os nossos serviços possuem garantia de entrega ou total reembolso. Qualquer
                        problema ou insatisfação que o cliente tiver, será tratado pela nossa equipe de suporte,
                        de modo que seja resolvido o mais breve possível.
                    </div>
                    <div class="col-md-6 col-lg-3 about-box-item">
                        <h5>ATENDIMENTO</h5>
                        Temos em mente que um cliente satisfeito é aquele que esta em constante contato
                        com os serviços da empresa e este é nosso maior objetivo. Nossos colaboradores
                        estão sempre a disposição e orientados ao melhor tratamento possível para solucionar
                        qualquer insatisfação ou dúvida em relação os serviços que oferecemos.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 about-box-item">
                        <h5>FORMAS DE PAGAMENTO</h5>
                        - PagSeguro (todos os cartões e boleto)<br />
                        - PayPal (Todos os cartões e boleto)<br />
                        - Transferência Bancaria CAIXA, BRADESCO, SANTANDER<br />
                        - Mesmo sem conta você poderá pagar com PagSeguro<br />
                    </div>
                    <div class="col-md-6 col-lg-3 about-box-item">
                        <h5>SIGILO</h5>
                        Todas as suas transações são estritamente sigilosas. Não será solicitado senha
                        ou qualquer outro dado sigiloso de seu perfil para realizarmos a entrega de nossos
                        serviços. Vale ressaltar também o fato de que estará restrito a empresa o conhecimento
                        de suas compras, de modo que a privacidade de nossos clientes seja preservada.
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h5>DÚVIDAS</h5>
                        <img src="/images/whatsapp-icone.png" class="d-block img-fluid img-left"  alt="Ícone do whatsapp"><p>(21) 96544-8522</p>
                        <img src="/images/telefone-icone.png" class="d-block img-fluid img-left"  alt="Ícone de telefone"><p>(21) 3942-4521</p>
                        <img src="/images/skype-icone.png" class="d-block img-fluid img-left"  alt="Ícone do skype"><p>andrebrananjos</p>
                        <img src="/images/mail-icone.png" class="d-block img-fluid img-left" alt="Ícone de email"><p>brcurtidas@brcurtidas.com.br</p>
                        <img src="/images/atendimento-icone.png" class="d-block img-fluid img-left" alt="Ícone de atendimento">Seg à Sáb  |  14h às 20h
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <img src="/images/site-seguro.png" class="d-block img-fluid mx-auto" alt="Figura de Site Seguro" style="padding: 50px 0 0 0">                
                    </div>
                </div>
        </div>
    </div>
</section>
