@{
    ViewData["Title"] = "Termos de Uso";
}

<div class="container">
            <div>
<div class="service-terms">
<h2 style="text-align: center;">TERMOS E CONDIÇÕES DE USO</h2><h2><br><br>
</h2><h3>-Sigilo<br></h3>
Qualquer dado enviado para nossa equipe, seja através de e-mail, chat, whatsapp, ou qualquer outra fonte,
estará sob sigilo total.<br>
Em hipótese alguma será divulgada a identidade de nossos clientes ou seus dados
cadastrais.<br><br><br>

<h3>-Serviços<br></h3>
Havendo uma queda superior a 10% do serviço inicial contratado, o cliente pode entrar em contato e solicitar reposição
( Até 3 reposições ) em um período de 45 dias.<br>
Não é comum acontecer queda nos números entregues pela nossa empresa, mas pelo fato do instagram periodicamente realizar mudanças em suas regras,
não podemos garantir total estabilidade nos números, a não ser oferecermos uma reposição.
A eficácia da entrega é 90% garantida, se você adquirir uma compra de perfis brasileiros estará recebendo no mínimo 90%
dos perfis ativos e brasileiros. Isso porque em alguns casos usuários mal intencionados, ou de outros países, utilizam perfis desativados para
acessar a aplicação e não temos controle total sobre isso. Eventualmente o Instagram ou outra rede social excluem contas inativas
ou falsas.<br><br>
Pedimos que, enquanto a entrega estiver sendo feita, seja desativado qualquer ferramenta ou job de marketing em cima do perfil
até que a entrega seja terminada. Isso garante a segurança da sua compra fazendo valer o recebimento TOTAL do que foi
adquirido.<br><br>
Não garantimos que a qualidade de nenhum produto ou serviço comprado atenderá suas expectativas ou que erros 
de serviço sejam corrigidos.<br><br><br>


<h3>- Mudança de valores<br></h3>
Caso os valores precisem ser reajustados, os novos valores serão indicados no site, e através de e-mail para
clientes que possuam algum tipo de assinatura.<br><br><br>

<h3>-Reembolso<br></h3>
Oferecemos total reembolso no caso o serviço não seja entregue, ou se por algum engano for entregue algum serviço
não contratado ( neste caso pode ser solicitado reembolso, ou a entrega do serviço originalmente contratado ).
Lembramos que a nossa taxa de entrega é de no MÍNIMO 90%. Normalmente é entregue 95%~98%.<br><br>

<h3>-Descontos<br></h3>
Qualquer compra realizada com descontos por qualquer de nossos colaboradores também estão sujeitas a aceitação dos TERMOS de SERVIÇO,
cabe ao comprador verificar os termos antes de realizar o pagamento para que possa revindicar de forma sucinta quaisquer direitos
não aplicados na transação desde pagamento até sua entrega. No momento da compra de qualquer produto só é possivel realizar a compra
checando a caixa de aceitação de termos. Para clientes que obtiveram descontos e teve sua nota de pagamento customizada a aceitação dos TERMOS
está no ato da compra.<br><br>
</div>



<!--<p>Este acordo estabelece os termos e condições sobre a utilização do website www.brcurtidas.com.br
“Br Curtidas” (doravante denominado de “Site”) e/ou os serviços (doravante denominados de “Serviços”)
prestados pela Br Curtidas.<br/><br/>

Ao visitar nosso site e/ou comprar algo de nós, você interage com nosso “Serviço” e concorda e aceita os
seguintes termos e condições (“Termos de Serviço”, “Termos”), incluindo os termos, condições e políticas
adicionais aqui referenciados e/ou disponibilizados neste site. Estes Termos de Serviço aplicam-se a todos
os usuários do site, incluindo, sem limitação à usuários visitantes, fornecedores, clientes, comerciantes
e/ou colaboradores de conteúdo.<br/><br/>

Por favor, leia atentamente estes Termos de Serviço antes de acessar ou utilizar nosso site.
Ao acessar ou utilizar qualquer parte do site, você estará concordando e aceitando estes Termos de Serviço.
Se você não concorda com todos os termos e condições deste contrato, então não poderá acessar o site, nem utilizar
seus serviços. Se estes Termos de Serviço forem considerados uma proposta, sua aceitação estará expressamente limitada
a estes Termos de Serviço.<br/><br/>

Quaisquer novas funcionalidades ou ferramentas adicionadas ao site atual estarão
igualmente sujeitas ao Termos de Serviço. Você pode revisar a versão mais recente dos Termos de Serviço a
qualquer momento nesta página. Nos reservamos o direito de atualizar, modificar ou substituir qualquer parte
destes Termos de Serviço, postando as atualizações e/ou alterações em nosso site. É sua responsabilidade verificar
as alterações desta página periodicamente. A sua continuidade de uso ou acesso ao site, após a publicação de quaisquer
alterações, constitui a aceitação das mesmas.<br/><br/></p>

<h3>SEÇÃO 1 – TERMOS DO SITE</h3>

<p>Ao concordar com estes Termos de Serviço, você indica ter ao menos a idade de maioridade em seu estado de residência
 e consente em permitir que quaisquer de seus menores dependentes utilizem este site.<br/><br/>

Você não pode usar nossos produtos para qualquer finalidade ilegal ou não autorizada, nem pode,
durante o uso do Serviço, violar qualquer lei em sua jurisdição
(incluindo, sem limitação, as leis de direitos autorais).<br/><br/>

Você não pode transmitir nenhum vírus ou código de natureza destrutiva.<br/><br/>

A violação de qualquer um dos Termos resultará no encerramento imediato de seus Serviços.<br/><br/></p>

<h3>SEÇÃO 2 – CONDIÇÕES GERAIS</h3>

<p>Nos reservamos o direito de recusar o serviço a qualquer pessoa, por qualquer motivo, a qualquer momento.<br/><br/>

Você entende que seu conteúdo (exceto informações de cartão de crédito), pode ser transferido sem criptografia e
envolve (a) transmissões através de várias redes; e (b) alterações para adequar e adaptar o conteúdo às exigências
técnicas de conexões de redes ou dispositivos. As informações de cartão de crédito são sempre criptografadas durante
a transferência através de redes seguras.<br/><br/>

Você concorda em não reproduzir, duplicar, copiar ou tirar vantagem de qualquer parte do Serviço, uso do Serviço,
acesso ao Serviço ou qualquer contato no site através do qual o serviço for disponibilizado, sem nossa expressa
autorização, por escrito.<br/><br/>

Os títulos usados neste contrato foram incluídos apenas para conveniência e não limitam, nem afetam de
forma alguma estes Termos.<br/><br/></p>

<h3>SEÇÃO 3 – EXATIDÃO, COMPLETUDE E ATUALIDADE DAS INFORMAÇÕES</h3>

<p>Não nos responsabilizamos pela exatidão, completude e atualidade das informações disponibilizadas neste site.
    O conteúdo deste site é fornecido apenas como informação geral e não se deve depender dele ou utilizá-lo como
    a única base para tomada de decisões, sem consultar as fontes primárias das informações, mais exatas, completas
    e atuais. Qualquer dependência ao conteúdo deste site é por sua conta e risco.<br/><br/>

Este site pode conter certas informações históricas. As mesmas,
necessariamente, não são atualizadas e são fornecidas apenas para sua referência.
Nos reservamos o direito de modificar o conteúdo deste site a qualquer momento, sem a obrigação de atualizar
qualquer informação existente em nosso site. Você concorda que é sua responsabilidade monitorar as mudanças em
nosso site.<br/><br/>

<h3>SEÇÃO 4 – MODIFICAÇÕES DO SERVIÇO E DE PREÇOS</h3>

<p>Os preços de nossos produtos estão sujeitos a alterações sem aviso prévio.<br/><br/>

Nos reservamos o direito de modificar ou descontinuar, a qualquer momento, o
Serviço (ou qualquer parte ou conteúdo do mesmo) sem nenhum aviso prévio.<br/><br/>

Não seremos responsáveis perante você ou terceiros por qualquer modificação, alteração de preços,
suspensão ou descontinuidade de algum Serviço.<br/><br/></p>

<h3>SEÇÃO 5 – PRODUTOS OU SERVIÇOS</h3>

<p>Todas as descrições ou os preços dos produtos estão sujeitos à alteração, a qualquer momento, sem aviso prévio
    e a nosso exclusivo critério. Nos reservamos o direito de descontinuar qualquer produto, a qualquer hora.
    Qualquer oferta de qualquer produto ou serviço deste site será nula onde for proibida.<br/><br/>

Não garantimos que a qualidade de nenhum produto, serviço, informação ou outro conteúdo comprado ou
adquirido por você atenderá suas expectativas ou que erros no Serviço serão corrigidos.<br/><br/>

É de extrema importância que o perfil do Instagram ou qualquer rede social escolhido para nosso serviço seja
mantido na configuração de privacidade PÚBLICA. Não fazê-lo poderá provocar o mal funcionamento de nossos serviços,
o que não nos responsabilizamos.<br/><br/>

Não somos responsáveis pelas suas ações e consequências. É sua própria responsabilidade ler e concordar
com os Termos de Serviço do Instagram regularmente e antes de utilizar nossos serviços.<br/><br/></p>

<h3>SEÇÃO 6 – EXATIDÃO DA COBRANÇA E INFORMAÇÕES DA CONTA</h3>

<p>Nos reservamos o direito de recusar qualquer pedido feito por você. Poderemos, a nosso exclusivo critério,
limitar ou cancelar as quantidades compradas por pessoa, por residência ou por pedido. Essas restrições podem
incluir pedidos realizados pela ou para a mesma conta de cliente, cartão de crédito e/ou pedidos que utilizarem
os mesmos endereços de cobrança e/ou entrega. Caso alterarmos ou cancelarmos um pedido, poderemos tentar notificá-lo
por e-mail e/ou pelo endereço/telefone de cobrança fornecido quando o pedido foi realizado.<br/><br/>

Você concorda em fornecer informações de conta atuais, completas e exatas em todas as compras realizadas em nossa loja.
Você concorda em atualizar prontamente suas informações de conta e outras, incluindo seu endereço de e-mail e o número
e validade de seu cartão de crédito, para que possamos concluir suas transações e contatá-lo quando necessário.<br/><br/><p>

<h3>SEÇÃO 7 – FERRAMENTAS OPCIONAIS<h3>

<p>Poderemos fornecer-lhe acesso a ferramentas de terceiros como Instagram, Youtube, Twitter, Facebook,
    Soundcloud entre outros as quais não monitoramos ou atualizamos, nem temos qualquer controle, portanto
    as ferramentas podem ficar indisponíveis devido as atualizações das redes sociais.<br/><br/>

Você entende e concorda que fornecemos o acesso a tais ferramentas ”como estão” e “conforme
disponíveis”, sem quaisquer garantias, representações ou condições de qualquer natureza e sem nenhum endosso.
 Não teremos qualquer tipo de responsabilidade decorrente ou relacionado ao seu uso de ferramentas de terceiros
 opcionais.<br/><br/>

Qualquer uso que você fizer das ferramentas opcionais oferecidas no site serão inteiramente por seu próprio risco
e critério e você deve garantir estar familiarizado e aprovar os termos sob os quais as ferramentas são fornecidas
pelos respectivos terceiros.<br/><br/>

Também poderemos, no futuro, oferecer novos serviços e/ou recursos através do site (incluindo a disponibilidade de
novas ferramentas e recursos). Tais novos recursos e/ou serviços estarão sujeitos a estes Termos de Serviço.<br/><br/>

<h3>SEÇÃO 8 – LINKS DE TERCEIROS</h3>

<p>Certos conteúdos, produtos e serviços disponíveis através de nosso Serviço podem incluir materiais de terceiros.<br/><br/>

Os links de terceiros deste site podem direcioná-lo para outros sites não afiliados conosco.
Não somos responsáveis em examinar ou avaliar o conteúdo ou a exatidão e não teremos nenhuma
responsabilidade pelos materiais ou sites de terceiros ou por qualquer outro material, produto
ou serviço de terceiros.<br/><br/>

Não seremos responsáveis por quaisquer danos relacionados à compra ou uso de mercadorias, serviços, recursos,
conteúdos ou outras transações relacionadas a sites de terceiros. Por favor, analise cuidadosamente as políticas
e práticas de terceiros e certifique-se de entendê-las antes de iniciar qualquer transação. Reclamações,
reivindicações, preocupações ou dúvidas sobre produtos de terceiros devem ser direcionadas aos mesmos.<br/><br/></p>

<h3>SEÇÃO 9 – COMENTÁRIOS, FEEDBACK E OUTROS ENVIOS DO USUÁRIO</h3>

<p>Caso, por solicitação nossa, você enviar certos materiais específicos (por exemplo, participação em concurso) ou,
sem nossa solicitação, você enviar ideias criativas, sugestões, propostas, planos ou outros materiais, seja on-line,
por e-mail, pelo correio postal ou de outra forma (coletivamente, “comentários”), você concorda que poderemos, a
qualquer momento e sem restrições, editar, copiar, publicar, distribuir, traduzir ou de outra forma utilizar em
qualquer mídia, qualquer comentário que você nos encaminhar. Não somos, nem seremos obrigados a (1) manter qualquer
comentário em sigilo; (2) pagar uma compensação por qualquer comentário ou (3) responder a qualquer comentário.<br/><br/>

Poderemos, sem sermos obrigados, monitorar, editar ou remover os conteúdos que determinarmos, a
nosso exclusivo critério, serem ilegais, ofensivos, ameaçadores, caluniosos, difamatórios, pornográficos,
obscenos, censuráveis ou que violarem a propriedade intelectual de terceiros ou estes Termos de Serviço.<br/><br/>

Você concorda que seus comentários não violarão os direitos de terceiros, incluindo direitos autorais,
marcas registradas, privacidade, personalidade ou outros direitos pessoais ou proprietários. Você também
concorda que seus comentários não conterão materiais caluniosos ou, de outra forma, ilegais, abusivos ou
obscenos, nem conterão vírus de computador ou outro malware capaz, de alguma forma, afetar as operações do
Serviço ou qualquer site relacionado. Você não pode utilizar endereços de e-mail falsos, fazer se passar por
outra pessoa que não você mesmo ou, de outra forma, nos enganar ou a terceiros quanto à origem de qualquer comentário.
Você é exclusivamente responsável por todos os comentários que fizer e sua exatidão. Não nos responsabilizamos por
nenhum comentário postado por você ou terceiros.<br/><br/></p>

<h3>SEÇÃO 10 – INFORMAÇÕES PESSOAIS</h3>

<p>O envio de suas informações pessoais através do site é governado pela nossa Política de Privacidade.
Para consultar nossa Política de Privacidade, clique aqui.<br/><br/></p>

<h3>SEÇÃO 11 – ERROS, IMPRECISÕES E OMISSÕES</h3>

<p>Ocasionalmente, podem existir informações em nosso site ou no Serviço contendo erros tipográficos,
imprecisões ou omissões relacionadas à descrição de produtos, preços, promoções, ofertas, fretes, prazo de
entrega e disponibilidade. Nos reservamos o direito de corrigir quaisquer erros, imprecisões e omissões e em
modificar ou atualizar as informações ou cancelar pedidos, se alguma informação no Serviço ou site relacionado
for imprecisa, a qualquer momento e sem aviso prévio (mesmo após você realizar seu pedido). (Somente cobriremos
ofertas de outros sites se o mesmo não estiver em promoção.)<br/><br/>

Não assumimos nenhuma obrigação de atualizar, alterar ou esclarecer informações existentes no
Serviço ou sites relacionados, incluindo, sem limitação, informações sobre preços, exceto quando
exigido por lei. Nenhuma data de atualização específica aplicada ao Serviço ou sites relacionados deve
ser considerada indicativa de que todas as informações do Serviço ou sites relacionados foram modificadas ou
atualizadas.<br/><br/></p>

<h3>SEÇÃO 12 – USOS PROIBIDOS</h3>

<p>Além das demais proibições previstas nestes Termos de Serviço, você está proibido de utilizar o site
ou seu conteúdo: (a) para qualquer propósito ilegal; (b) para solicitar que outros executem ou participem
em atos ilegais; (c) para violar quaisquer regulamentos, regras ou leis distritais, estaduais, federais ou
internacionais ou normas locais; (d) para infringir ou violar nossos direitos de propriedade intelectual ou
de terceiros; (e) para assediar, abusar, insultar, ofender, difamar, caluniar, denegrir, intimidar ou discriminar
com base em gênero, orientação sexual, religião, etnia, raça, idade, nacionalidade ou deficiência; (f) para enviar
informações falsas ou enganosas; (g) para enviar ou transmitir vírus ou qualquer outro tipo de código malicioso que
será ou poderá ser utilizado de modo a afetar as funcionalidades ou operações do Serviço ou algum site relacionado,
outros sites ou a Internet; (h) para coletar ou rastrear informações pessoais de terceiros; (i) para enviar spam,
phishing, ofertas farmacêuticas, falsas alegações ou mecanismos de crawling ou scraping; (j) para qualquer propósito
obsceno ou imoral; ou (k) para interferir com ou contornar os recursos de segurança do Serviço ou algum
site relacionado, outros sites ou a Internet. Nos reservamos o direito de cancelar o seu uso do Serviço
ou algum site relacionado por violar quaisquer dos usos proibidos.<br/><br/></p>

<h3>SEÇÃO 13 – LIMITAÇÃO DE GARANTIAS; LIMITAÇÃO DE RESPONSABILIDADE</h3>

<p>Não garantimos, representamos ou atestamos que o uso de nosso Serviço por você será ininterrupto, oportuno,
seguro ou livre de erros, como trabalhamos de acordo com as APIs fornecidas do Instagram, Youtube, Twitter,
Soundcloud e as demais redes sociais incluidas em nossos serviços precisamos passar por atualizações semanais
que não depende exclusivamente de nós.<br/><br/>

Não garantimos que os resultados que possam advir pelo uso do Serviço serão precisos ou confiáveis.<br/><br/>

Você concorda que, de tempos em tempos, poderemos remover o Serviço por um prazo indeterminado ou cancelar
os Serviço, a qualquer hora e sem avisá-lo.<br/><br/>

Devido as constantes atualizações do Instagram e outras redes sociais, os seguidores poderão ser removidos após
algum tempo e não nos responsabilizamos e nem temos o controle sobre esse tipo de atualização. Ao comprar seguidores
você estará ciente que isso poderá ocorrer e que fica a nosso critério fazer a reposição.<br/><br/>

Você concorda e aceita que após o pagamento garantimos 30 dias para reposição dos seguidores, prazo este que será
contato a partir da data de entrega do serviço e mediante disponibilidade do sistema.<br/><br/>

Você concorda expressamente que seu uso ou impossibilidade de usar o Serviço é por seu próprio risco.
O Serviço e todos os produtos e serviços entregues a você através do Serviço são (exceto onde expressamente
estabelecido por nós) fornecidos “como estão” e “conforme disponíveis” para o seu uso, sem quaisquer representações,
garantias ou condições de qualquer natureza, tanto expressas, como implícitas, incluindo todas as garantias ou
condições implícitas de comercialização, qualidade comercializável, adequação a uma finalidade específica, durabilidade,
título e não violação.<br/><br/>

Em hipótese alguma a Br Curtidas, nossos diretores, administradores, funcionários, afiliados, agentes,
contratados, estagiários, fornecedores, prestadores de serviços ou licenciadores serão responsáveis por
qualquer prejuízo, perda, reivindicação ou quaisquer danos diretos, indiretos, incidentais, punitivos, especiais
ou consequentes de qualquer natureza, incluindo, sem limitação, lucros cessantes, perda de receitas, perda de poupança,
perda de dados, custos de substituição, ou quaisquer danos semelhantes, sejam com base em contrato, ato ilícito
(incluindo negligência), responsabilidade objetiva ou de outra forma, decorrentes do seu uso de qualquer um dos
serviços ou quaisquer produtos adquiridos usando o Serviço ou a qualquer outra alegação relacionada de alguma forma
ao seu uso do Serviço ou qualquer produto, incluindo, sem limitação, quaisquer erros ou omissões em qualquer conteúdo
ou qualquer perda ou dano de qualquer natureza, incorridos como resultado do uso do Serviço ou qualquer conteúdo
(ou produto) publicado, transmitido ou de outra forma disponibilizado através do Serviço, mesmo se alertados de sua
possibilidade.<br/><br/>

O uso dos cupons podem ser limitados, exemplo, se você já utilizou uma vez algum cupom do site não garantimos
que ele possa ser utilizado novamente.<br/><br/></p>

<h3>SEÇÃO 14 – INDENIZAÇÃO</h3>

<p>Você concorda em indenizar, defender e inocentar a Br Curtidas, sua matriz, suas subsidiárias e seus
afiliados, parceiros, administradores, diretores, agentes, contratados, licenciadores, prestadores de serviços,
subcontratados, fornecedores, estagiários e funcionários de qualquer alegação ou demanda, incluindo honorários
advocatícios, feita por quaisquer terceiros devido a ou resultantes de sua violação destes Termos de Serviço ou
documentos incorporados por eles, por referência, ou a sua violação de alguma lei ou direito de terceiros.<br/><br/></p>

<h3>SEÇÃO 15 – DIVISIBILIDADE</h3>

<p>No caso de qualquer disposição destes Termos de Serviço for determinada ilegal, nula ou inexequível,
tal disposição, no entanto, deverá ser aplicável até ao limite máximo permitido pela lei e a porção
inexequível será considerada separada destes Termos de Serviço e tal determinação não prejudicará a validade
e aplicabilidade de quaisquer disposições restantes.<br/><br/></p>

<h3>SEÇÃO 16 – GARANTIA DE 7 DIAS PARA REEMBOLSO IMEDIATO</h3>

<p>No caso de você ficar insatisfeito com nossos serviços, oferecemos a Garantia de 7 Dias para
Reembolso de nossos serviços. Enquanto que nos orgulhamos em defender nossa garantia de reembolso,
não objetivamos decepcionar ou enganar nenhum cliente. As seguintes circunstâncias, sob as quais for
solicitado o reembolso total, serão recusadas ou sujeitas ao nosso exclusivo critério para aprová-las ou não:<br/>

• Falta de uso dos serviços.<br/><br/>

• Questões financeiras.<br/><br/>

• Força maior.<br/><br/>

• Outras circunstâncias pessoais não previstas.<br/><br/>

• Interrupção de serviço por indisponibilidade do Instagram.<br/><br/>

A garantia para devolução se estenderá por sete (7) dias corridos a partir da data de abertura da conta,
para pagamentos feitos à Br Curtidas dentro deste período. Devoluções solicitadas após 7 dias da abertura
da conta ou solicitações recusadas de reembolso de dinheiro serão fornecidas na forma de crédito em conta, a
nosso exclusivo critério.
Os reembolsos aprovados e processados de acordo com a Garantia de 7 Dias para Reembolso ocorrerão pelo estorno
do pagamento na fonte original dos recursos ou crédito em conta, a critério exclusivo do cliente, no prazo de 30 dias.<br/><br/></p>

<h3>SEÇÃO 17 – RESCISÃO<h3>

<p>As obrigações e responsabilidades das partes incorridas antes da data da rescisão sobreviverão,
para todos os efeitos, à rescisão deste contrato.<br/><br/>

Estes Termos de Serviço permanecem em efeito até que rescindidos por uma das partes. Você pode rescindir
estes Termos de Serviço a qualquer momento, nos notificando que não mais deseja utilizar nosso Serviço ou
quando cessar seu uso de nosso site.<br/><br/>

Se, a nosso exclusivo critério, você falhar, ou suspeitarmos que você falhou em cumprir qualquer termo
ou disposição destes Termos de Serviço, também poderemos rescindir o presente contrato, a qualquer momento,
sem aviso, e você continuará responsável por todos os valores devidos até e inclusive a data de rescisão; e/ou,
consequentemente, poderemos recusar seu acesso ao nosso Serviço (ou qualquer parte dele).<br/><br/></p>

<h3>SEÇÃO 18 – ACORDO INTEGRAL</h3>

<p>Nossa falha em exercer ou aplicar algum direito ou disposição destes Termos de Serviço não constitui uma
renúncia a tal direito ou disposição.<br/><br/>

Estes Termos de Serviço e quaisquer políticas ou regras operacionais publicadas por nós neste site ou a respeito do
Serviço, constitui o acordo e o entendimento integrais entre nós e você e governam o uso do Serviço, substituindo
quaisquer acordos, comunicações e propostas anteriores ou contemporâneos, sejam verbais ou escritos, entre nós e
você (incluindo, sem limitação, quaisquer versões anteriores dos Termos de Serviço).<br/><br/>

Nenhuma ambiguidade na interpretação destes Termos de Serviço deve ser formulada contra a parte proposta.<br/><br/></p>

<h3>SEÇÃO 19 – LEGISLAÇÃO APLICÁVEL</h3>

<p>Este Acordo e o relacionamento entre você e a Br Curtidas serão governados e construídos de
acordo com as leis do Estado do Rio de Janeiro (Brasil), independente de seu conflito às disposições da lei.
Você concorda em se submeter à jurisdição pessoal e exclusiva de tribunais federais e estaduais localizados
no condado de Rio de Janeiro, Rio de Janeiro, Brasil, e em renunciar quaisquer objeções de foro jurídico, local ou
inconvenientea tais tribunais. O fracasso da Br Curtidas em exercer ou executar qualquer direito ou disposição do
presente Acordo
não constituirá uma renúncia a tal direito ou disposição. Se qualquer disposição deste Acordo for considerada, por um
tribunal de jurisdição competente, ilegal, nula ou, por qualquer motivo, inaplicável, então tal disposição será
considerada cortada do presente instrumento e não afetará a validade e aplicabilidade de qualquer provisão restante.
Este Acordo não pode ser atribuído, transferido ou sublicenciado por você, exceto com nosso consentimento prévio por
escrito.<br/><br/></p>

<h3>SEÇÃO 20 – MUDANÇAS NOS TERMOS DE SERVIÇO</h3>

<p>Você poderá consultar a versão mais recente dos Termos de Serviço nesta página e a qualquer momento.<br/><br/>

Nos reservamos o direito, a nosso exclusivo critério, de atualizar, modificar ou substituir qualquer parte
destes Termos de Serviço, publicando as atualizações e modificações em nosso site. É sua responsabilidade
consultar periodicamente as alterações em nosso site. A sua continuidade de uso de nosso site ou Serviço após
a publicação das modificações destes Termos de Serviço constitui a aceitação das mesmas.<br/><br/>

<h3>SEÇÃO 21 – INFORMAÇÕES DE CONTATO</h3>

<p>Em caso de dúvidas, entre em contato: brcurtidas@brcurtidas.com.br</p>-->
                <p></p><br>
            </div>
        </div>